/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

body {
  font-family: Alata, sans-serif;
}

.animate#bar-1 {
  transform: translate(0, 8px) rotate(-45deg);
}

.animate#bar-2 {
  opacity: 0;
}

.animate#bar-3 {
  transform: translate(0, -8px) rotate(45deg);
}

:root{
  --primary:#5e17eb;
  --secondary:#8c52ff;
  --accent:#e5e7eb;
  --tertiary:gold;
  
}